* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

.posts {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283e4a;
}
.icon {
    width: 4vw;
    margin-left: 8rem;
}
.navbar__search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin-right: 5rem;
    border-radius: 3px;
    background-color: #e1e9ee;
}
.navbar__search input {
    padding-left: 1rem;
    border: none;
    outline: none;
    padding-right: 5rem;
    border-radius: 3rem;
    background-color: #e1e9ee;
}

.navbar__options {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid lightgray;
}

.navbar__icons {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    opacity: 0.8;
}

.profile__image img {
    width: 30px;
    height: 30px;
    border-radius: 60%;
}

.more {
    margin-left: 1rem;
}

.section__one {
    margin-left: 13rem;
    margin-top: 3rem;
    max-width: 70%;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile {
    display: flex;
    flex-direction: column;
    background-image: url('https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/cover/487.jpg?v=1575095450');
    background-repeat: no-repeat;
}

.profile__dp {
    width: 10%;
    margin-top: 90px;
    margin-left: 10px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff;
    opacity: 0.7;
}

.profile__info span {
    margin-top: 10px;
    margin-left: 10px;
}

.profile__head {
    font-size: 18px;
}
.profile__desc {
    font-size: 12px;
}
.profile__comp {
    font-size: 16px;
}

.profile__buttons {
    display: flex;
    max-width: 20%;
    margin-top: 10px;
    padding-bottom: 20px;
}

.button__follow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: #0073b1;
    color: white;
    border: none;
    font-size: 17px;
}
.button__visit {
    cursor: pointer;
    margin-left: 10px;
    background: none;
    border: 1px solid #0073b1;
    color: #0073b1;
    padding-left: 3rem;
    padding-right: 3rem;
}


.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 13.5%;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side__nav {
    margin-left: 1%;
    margin-top: 1%;
}
.side__nav__options li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 9rem;
    border: 1px solid rgb(211, 204, 204);
    list-style: none;
    padding-left: 8px;
    opacity: 0.7;
}
.side__nav__options {
    background-color: white;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0,0.2);
}

.about__section {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    min-width: 700px;
    max-height: 115px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0,0.2);
}

#about__head {
    font-size: 20px;
    margin-left: 1%;
    margin-top: 5px;
    opacity: 0.7;
}

#about__desc {
    font-size: 14px;
    margin-left: 1%;
    opacity: 0.6;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

#about__link{
    text-align: center;
    padding: 10px 0;
    color: #0073b1;
    cursor: pointer;
}

.content__right {
    display: flex;
    flex-direction: column;
}

.content__btn {
    margin-top: 20px;
}

.content__btn  button{
    cursor: pointer;
    padding: 5px 15px;
    font-size: 16.5px;
    opacity: 0.9;
    border-radius: 99px;
    border: none;
    margin-left: 5px;
    background-color: lightgray;
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 12vh;
}

.post__image {
    width: 100%;
}
.postHead {
    display: flex;
    justify-content: space-between;
}
.postHead__left {
    display: flex;
}

.postHead__right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0073b1;
    font-size: 17px;
}

.postHead__left img{
    width: 50px;
}

.post p {
    opacity: 0.7;
    margin: 5px;
}

.postHead__left span {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 5px;
    color: black;
    opacity: 0.9;
}

.like {
    display: flex;
    align-items: center;
    float: left;
    opacity: 0.7;
    border-bottom: 1px solid gray;
}

.bottom__icons  {
    display: flex;
    align-items: center;
}

.bottom__icons span {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem 1rem;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.bottom__icons span:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}